version: '3'
services:
  front1:
    build: ./front
    ports:
      - "81:80"
  front2:
    build: ./front
    ports:
      - "82:80"
  front3:
    build: ./front
    ports:
      - "83:80"

  nginx-front:
    build: ./nginx-front
    ports:
      - "80:80"
    depends_on:
      - front1
      - front2
      - front3
